<!-- <div class="wrapper">
  <div class="image-item" *ngFor="let item of list; let i = index">
    <div class="image-item-image" [style.backgroundImage]="item"></div>
    <i
      class="image-item-trash fal fa-trash-alt"
      (click)="onDeleteImageClick($event, i)"
    ></i>
  </div>
  <div
    (click)="uploader.click()"
    class="image-uploader d-flex align-items-center justify-content-center"
  >
    <i class="fas fa-2x fa-camera-retro"></i>
    <input type="file" #uploader (change)="uploadFile($event)" />
  </div>
</div> -->
<div class="wrapper">
  <div
    *ngIf="!readonly"
    (click)="uploader.click()"
    class="image-uploader d-flex align-items-center justify-content-center"
  >
    <i class="fas fa-2x fa-camera-retro"></i>
    <input
      accept="image/*"
      type="file"
      #uploader
      (change)="onSelectImage($event)"
    />
  </div>
  <div
    *ngFor="let item of imagesToShow; let i = index"
    class="image-item mr-3 mb-2"
  >
    <div class="image-item-image">
      <img class="w-100 h-100" [src]="item" />
    </div>
    <i
      *ngIf="!readonly"
      class="image-item-trash fal fa-trash-alt"
      (click)="onDeleteImageClick($event, i)"
    ></i>
  </div>
</div>
