<ag-grid-angular
  class="ag-theme-alpine w-100 h-100"
  [enableSorting]="enableSorting"
  [enableFilter]="enableFilter"
  [pagination]="pagination"
  [paginationPageSize]="paginationPageSize"
  [rowData]="rowData"
  [rowDragManaged]="draggable"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [enableRtl]="true"
  [animateRows]="true"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)"
  (columnResized)="onColumnResized($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  (rowDragEnter)="rowDragEnter.emit($event)"
  (rowDragMove)="rowDragMove.emit($event)"
  (rowDragEnd)="rowDragEnd.emit($event)"
></ag-grid-angular>
