<ag-page-container [title]="pageTitle">
  <prm-button
    color="success"
    label="افزودن"
    icon="fa fa-plus"
    (click)="addJobItemDetails()"
  ></prm-button>
  <ag-table
    [columnDefs]="columnDefs"
    [rowData]="rowData$ | async"
    [imagesConfig]="[{field:'logo',headerName:'عکس',editable:true}]"
    [actionsConfig]="[{action:'edit-details',icon:'fa fa-pen',headerName:'ویرایش جزئیات',color:'primary'},{action:'delete',icon:'fa fa-times',headerName:'حذف',color:'danger'}]"
    (imageSelect)="onImageSelect($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (actionClick)="onActionClick($event)"
  >
  </ag-table>
</ag-page-container>
