<ag-page-container [title]="pageTitle">
  <prm-button
    color="success"
    label="افزودن"
    icon="fa fa-plus"
    (click)="addCourseContent()"
  ></prm-button>
  <ag-table
    [columnDefs]="columnDefs"
    [rowData]="rowData$ | async"
    [imagesConfig]="[{field:'video',headerName:'فیلم',editable:true,accept:'video/*'}]"
    [actionsConfig]="[{action:'delete',icon:'fa fa-times',headerName:'حذف',color:'danger'}]"
    (imageSelect)="onImageSelect($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (actionClick)="onActionClick($event)"
  >
  </ag-table>
</ag-page-container>
