<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <prm-button
            label="ذخیره"
            icon="fa fa-plus"
            color="success"
            class="mr-2"
            type="submit"
            form="myform"
          >
          </prm-button>
          <prm-button
            label="انصراف"
            icon="fa fa-times"
            color="danger"
            (click)="onCancelClick()"
          ></prm-button>
        </left>
        <right>
          <h1>{{pageTitle}}</h1>
        </right>
      </toolbar>
    </div>
  </div>
  <form
    id="myform"
    class="form-row justify-content-end"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <input type="hidden" formControlName="id" />
    <prm-input-text
      formControlName="title"
      label="عنوان"
      labelWidth="90"
      class="col-8 mb-4"
      [errors]="[{type:'required',message:'required'}]"
    ></prm-input-text>
    <ag-single-image-picker
      label="تصویر"
      labelWidth="90"
      class="col-8 mb-4"
      formControlName="image"
      [urlToShow]="urlToShow"
      [errors]="[{type:'required',message:'required'}]"
    ></ag-single-image-picker>
    <prm-input-textarea
      formControlName="summary"
      label="خلاصه"
      labelWidth="90"
      class="col-8 mb-4"
    ></prm-input-textarea>
    <p-editor formControlName="content" class="col-8 mb-4"></p-editor>
  </form>
</div>
