<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <prm-button
            label="افزودن"
            icon="fa fa-plus"
            color="success"
            routerLink="/dashboard/news/add"
          >
          </prm-button>
        </left>
        <right>
          <h1>اخبار</h1>
        </right>
      </toolbar>

      <prm-table
        [items]="news$ | async"
        [columns]="columns"
        [actions]="actions"
        [showDeleteAction]="true"
        (actionClick)="onActionClick($event)"
      >
      </prm-table>
    </div>
  </div>
</div>
