<ag-page-container title="کارمندان" *ngIf="columnDefs">
  <prm-button
    color="success"
    label="افزودن"
    icon="fa fa-plus"
    (click)="addEmployee()"
  ></prm-button>
  <ag-table
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [paginationPageSize]="10"
    [pagination]="true"
    [imagesConfig]="[{field:'image',headerName:'عکس',editable:true}]"
    [actionsConfig]="[{action:'delete',icon:'fa fa-times',headerName:'حذف',color:'danger'}]"
    (cellValueChanged)="onCellValueChanged($event)"
    (imageSelect)="onImageSelect($event)"
    (actionClick)="onActionClick($event)"
  >
  </ag-table>
</ag-page-container>
