<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <prm-button
            label="افزودن"
            icon="fa fa-plus"
            color="success"
            (click)="addFeature()"
          >
          </prm-button>
        </left>
        <right>
          <h1>ویژگی محصولات</h1>
        </right>
      </toolbar>
    </div>
  </div>
  <form
    [formGroup]="form"
    class="form-row align-items-center justify-content-end mb-5"
    (ngSubmit)="onSubmit()"
  >
    <prm-input-text
      [disabled]="disabled"
      formControlName="title"
      class="col-8 mb-4"
      labelWidth="90"
      label="عنوان"
    ></prm-input-text>
    <prm-input-file
      [disabled]="disabled"
      formControlName="logo"
      class="col-8 mb-4"
      labelWidth="90"
      label="تصویر"
      (onSelect)="onSelectImage($event)"
    ></prm-input-file>
    <prm-button
      [disabled]="disabled"
      class="col-8"
      type="submit"
      label="ثبت"
    ></prm-button>
  </form>

  <div class="row">
    <div class="col-12">
      <prm-table
        [items]="features$ | async"
        [columns]="columns"
        [actions]="actions"
        [showDeleteAction]="true"
        (actionClick)="onActionClick($event)"
      >
      </prm-table>
    </div>
  </div>
</div>
