<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <prm-button
            label="ذخیره"
            icon="fa fa-plus"
            color="success"
            class="mr-2"
            (click)="onSaveClick()"
          ></prm-button>
          <prm-button
            label="انصراف"
            icon="fa fa-times"
            color="danger"
            (click)="onCancelClick()"
          ></prm-button>
        </left>
        <right>
          <h1>{{ pageTitle }}</h1>
        </right>
      </toolbar>
      <p-tabView orientation="right" #tabView [activeIndex]="tabViewIndex">
        <p-tabPanel [disabled]="disableTabs[0]" header="اطلاعات پایه">
          <form
            class="form-row justify-content-end"
            [formGroup]="basicInfoForm"
            (ngSubmit)="onSubmitBasicInfo()"
          >
            <prm-input-text
              class="col-8 mb-4"
              formControlName="title"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="عنوان"
            >
            </prm-input-text>

            <prm-input-text
              class="col-8 mb-4"
              formControlName="website"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="وبسایت"
            >
            </prm-input-text>

            <prm-input-date-time-picker
              class="col-8 mb-4"
              formControlName="time_estimate"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="تاریخ ارائه"
            >
            </prm-input-date-time-picker>
            <prm-input-multi-select
              [items]="features$ | async"
              optionLabel="title"
              class="col-8 mb-4"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              formControlName="features"
              labelWidth="80"
              label="ویژگی ها"
            ></prm-input-multi-select>
            <prm-input-multi-select
              [items]="partners$ | async"
              optionLabel="name"
              class="col-8 mb-4"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              formControlName="partners"
              labelWidth="80"
              label="همراهان"
            ></prm-input-multi-select>
            <prm-input-file
              class="col-8 mb-4"
              formControlName="image"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="تصویر"
            ></prm-input-file>
            <prm-input-textarea
              class="col-8 mb-4"
              formControlName="description"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="توضیحات"
            ></prm-input-textarea>
            <prm-button
              class="col-8 mb-4"
              type="submit"
              label="ثبت"
            ></prm-button>
          </form>
        </p-tabPanel>

        <p-tabPanel [disabled]="disableTabs[1]" header="مسیر پروژه">
          <p-pickList
            [source]="source$ | async"
            [target]="target"
            sourceHeader="مسیر پروژه"
            targetHeader="انتخاب شده"
            [dragdrop]="true"
            [responsive]="true"
            [sourceStyle]="{'height':'400px'}"
            [targetStyle]="{'height':'400px'}"
            filterBy="title"
            sourceFilterPlaceholder="جستجو"
            targetFilterPlaceholder="جستجو"
            (onMoveToTarget)="onMoveToTarget()"
            (onMoveToSource)="onMoveToSource()"
            (onMoveAllToTarget)="onMoveAllToTarget()"
            (onMoveAllToSource)="onMoveAllToSource()"
            (onSourceReorder)="onSourceReorder()"
            (onTargetReorder)="onTargetReorder()"
          >
            <ng-template let-process pTemplate="item">
              <div class="py-4 d-flex align-content-center justify-content-end">
                <div class="mx-3">
                  {{process.title}}
                </div>
                <img [src]="process.image" />
              </div>
            </ng-template>
          </p-pickList>
          <div class="d-flex justify-content-between mt-5">
            <prm-button (click)="onSubmitBasicInfo()" label="ثبت"></prm-button>
            <prm-button
              color="danger"
              (click)="goPrevTab()"
              label="بازگشت"
            ></prm-button>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
