<div class="container-fluid pb-5">
  <div class="row">
    <div class="col-12">
      <toolbar class="page-header">
        <left>
          <prm-button
            label="انصراف"
            icon="fa fa-times"
            color="danger"
            (click)="onCancelClick()"
          ></prm-button>
        </left>
        <right>
          <h1>{{ pageTitle }}</h1>
        </right>
      </toolbar>

      <p-tabView orientation="right" #tabView [activeIndex]="tabViewIndex">
        <p-tabPanel [disabled]="disableTabs[0]" header="اطلاعات پایه">
          <form
            class="form-row justify-content-end"
            [formGroup]="basicInfoForm"
            (ngSubmit)="onSubmitBasicInfo()"
          >
            <input formControlName="id" type="hidden" />
            <prm-input-editor
              class="col-8 mb-4"
              formControlName="title"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="عنوان"
            >
            </prm-input-editor>
            <prm-input-text
              class="col-8 mb-4"
              formControlName="website"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="وبسایت"
            >
            </prm-input-text>

            <prm-input-date-time-picker
              class="col-8 mb-4"
              formControlName="time_estimate"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="تاریخ ارائه"
            >
            </prm-input-date-time-picker>

            <prm-input-multi-select
              [items]="availableFeatures"
              formControlName="features"
              [dataKey]="'id'"
              optionLabel="title"
              class="col-8 mb-4"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="ویژگی ها"
            ></prm-input-multi-select>

            <prm-input-textarea
              class="col-8 mb-4"
              formControlName="feature_description"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="توضیحات ویژگی ها"
            ></prm-input-textarea>

            <prm-input-multi-select
              [items]="availablePartners"
              optionLabel="name"
              class="col-8 mb-4"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              formControlName="partners"
              labelWidth="80"
              label="همراهان"
            ></prm-input-multi-select>

            <ag-single-image-picker
              label="تصویر"
              labelWidth="80"
              [urlToShow]="urlToShow"
              class="col-8 mb-4"
              formControlName="image"
              (onSelect)="onSelectImage($event)"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
            ></ag-single-image-picker>

            <prm-input-editor
              class="col-8 mb-4"
              formControlName="description"
              [errors]="[{type:'required',message:'این فیلد الزامیست.'}]"
              labelWidth="80"
              label="توضیحات"
            ></prm-input-editor>

            <prm-button
              class="col-8 mb-4"
              type="submit"
              label="ادامه"
            ></prm-button>
          </form>
        </p-tabPanel>

        <p-tabPanel [disabled]="disableTabs[1]" header="مسیر پروژه">
          <p-pickList
            [source]="availableProcesses"
            [target]="selectedProcesses"
            sourceHeader="مسیر پروژه"
            targetHeader="انتخاب شده"
            [responsive]="true"
            [sourceStyle]="{'height':'400px'}"
            [targetStyle]="{'height':'400px'}"
            filterBy="title"
            sourceFilterPlaceholder="جستجو"
            targetFilterPlaceholder="جستجو"
          >
            <ng-template let-process pTemplate="item">
              <div class="py-4 d-flex align-items-center justify-content-end">
                {{process.title}}
                <img
                  style="width: 80px; margin-left: 20px"
                  [src]="process.image"
                />
              </div>
            </ng-template>
          </p-pickList>
          <div class="d-flex justify-content-between mt-5">
            <prm-button (click)="onSaveClick()" label="ثبت"></prm-button>
            <prm-button
              color="danger"
              (click)="goPrevTab()"
              label="بازگشت"
            ></prm-button>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
