@import "./fonts/fonts.scss";
@import "./vendor/bootstrap.scss";
@import "theme.scss";

html,
body {
  height: 100%;
  .ui-widget {
    font-family: IRANSans;
    [class|="ui"]:not([class*="pi"]):not([class*="fa"]):not([class*="ql"]) {
      font-family: inherit;
    }
  }

  .form-wrapper {
    max-height: 0;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    background-color: #f8f9fa !important;
    &.show {
      opacity: 1;
      visibility: visible;
      max-height: fit-content;
      padding: 3rem;
      margin-bottom: 3rem;
      border: 1px solid #dee2e6 !important;
    }
  }

  *:focus {
    outline: none;
  }

  .ui-panelmenu .ui-panelmenu-header > a:focus {
    box-shadow: none;
  }
}
